:root {
  @media(max-width: 910px) {
    --delta: 10px;
  }
}

.hamburger {
  display: none;
}

.dashboard-sidebar-menu-dropdown {
  display: none;
}


body.show-mobile-menu {
  .hamburger {}

  header.listing-cards {

    .content-column {
      .right-menu {
        // transform: translateX(0%);
        opacity: 1;
      }
    }
  }

}






@media(max-width: 910px) {



  body {
    --m-section-margin-bottom: calc(7*var(--delta)); // --fs-20: calc(1.6*var(--delta));
    // --m-section-padding-y: calc(10*var(--delta));

    // --fs-8_75: calc(.875*var(--delta));
    // --fs-10: calc(1*var(--delta));
    // --fs-11: calc(1.1*var(--delta));
    // --fs-14: calc(1.4*var(--delta));
    // --fs-16: calc(1.6*var(--delta));
    --fs-20: calc(1.8*var(--delta));
    --fs-21_6: calc(2*var(--delta));
    --fs-22_5: calc(2*var(--delta));
    --fs-24: calc(2.1*var(--delta));
    --fs-26: calc(2.3*var(--delta));
    --fs-32: calc(2.5*var(--delta));
    --fs-40: calc(3*var(--delta));
    --fs-50: calc(3.5*var(--delta));
    --fs-60: calc(4.5*var(--delta));
    --fs-64: calc(4.5*var(--delta));
    --fs-80: calc(6*var(--delta));
    // --fs-1: calc(1*var(--delta));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: normal !important;

    br {
      display: none;
    }
  }

  .hamburger {
    display: block;
  }

  body.menu-open {
    overflow: hidden;

    header.listing-cards {

      .content-column {
        .right-menu {
          // transform: translateX(0%);
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  header.listing-cards {

    .content-column {
      .right-menu {
        transition: all .5s ease-in-out;
        display: block !important;
        position: fixed;
        // transform: translateX(-50%);
        opacity: 0;
        pointer-events: none;
        left: 0px;
        top: 0px;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 1);

        .menu {
          display: block !important;
          padding-inline: calc(4*var(--delta)) !important;
          margin-right: 0px !important;
          padding-block: calc(6*var(--delta)) !important;
          padding-top: calc(15*var(--delta)) !important;

          >li {
            margin-bottom: calc(2.4*var(--delta));

            a {
              display: block;
              text-align: center;
            }
          }

        }

        .buttons-holder {
          margin-inline: auto;
          width: calc(100vw - var(--cell-x-space));

          .btn {
            display: block;
            width: 100%;
          }
        }

      }
    }
  }


  header.listing-cards {
    .content-column {
      .right-menu {
        display: none;
      }
    }
  }

  .home-directory {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  .x3-directories-panels {
    .wrap-white-box {
      .content-inner {
        .grid-panels {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

  .pricing-grid-wrapper {
    .pricing-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  .guids-grid {
    .grid-wrap {
      .grid {
        grid-template-columns: 1fr 1fr;
      }
    }
  }


  .footer-landing {
    .menu-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      >* {
        width: auto !important;
        margin-inline: auto !important;
        margin-bottom: calc(2*2.4*var(--delta)) !important;

        &:last-child {
          margin-bottom: 0px !important;
        }

        .social-icons {
          margin-inline: auto !important;
          padding-inline: 0px;
        }

        // margin-bottom: ;
      }
    }
  }

  section {
    &.home-hero-big-image {

      .header-wrap {
        top: calc(2.4*var(--delta));
      }

      .relative-container {
        min-height: 0px;
      }

      .content {
        padding-block: calc(10*var(--delta));
        padding-bottom: calc(4*var(--delta));
        padding-inline: calc(.5*var(--cell-x-space));
      }
    }
  }


  .sidebar-content .row>.content-wrap {
    display: block;

    >* {
      width: 100%;
    }

    .sidebar-column {
      margin-inline: auto;
      width: 100% !important;
      max-width: calc(35*var(--delta));
    }
  }

  .sidebar-content.sc-product-details .content-wrap {
    >* {
      margin-bottom: var(--m-section-margin-bottom);
    }
  }

  .sidebar-content.sc-product-details .content-column {
    width: 100% !important;
  }

  .sidebar-content .row>.content-wrap .sidebar-column {
    position: static;
  }

  .sidebar-content .row>.content-wrap .content-column {
    width: 100%;
  }

  .sub-header-search .content-holder {
    display: block;

    >* {
      width: 100%;
      margin-bottom: calc(2.4*var(--delta));
    }
  }

  .sub-header-search .content-holder .right-content {
    width: 100%;
  }


  .product-details-gallery .gallery-grid {
    >* {
      width: calc(33.33% - 2*2.4/3 * var(--delta)) !important;
    }
  }


  .hero-header {
    min-height: 0px;
    padding-bottom: calc(4*var(--delta));


    &.without-search {
      &.for-post {
        header {
          margin-bottom: 0px;
        }
      }

      header {
        margin-bottom: var(--m-section-margin-bottom);
      }
    }
  }

  .our-story .content-wrap {
    max-width: calc(60*var(--delta));
    margin-inline: auto;
    display: block;

    >* {
      width: 100% !important;
      margin-bottom: calc(2.4*var(--delta));
      max-width: 100% !important;
    }
  }


  .our-mission-grid {
    max-width: calc(40*var(--delta));
    margin-inline: auto;

    .the-grid {
      grid-template-columns: 1fr;
    }
  }


  .modal.modal-auth .wrap-auth-content {
    display: block;

    >* {
      width: 100% !important;
      max-width: 100% !important;
    }
  }


  /*
    Administrator edits: 
  */
  .dashboard-main-container .content-wrap {
    display: block;

    >* {
      margin-bottom: calc(2.4*var(--delta));
    }
  }

  .dashboard-main-container .content-wrap>.sidebar-admin {
    margin-inline: auto;
  }

  .dashboard-main-container .content-wrap>.content-admin {
    max-width: 100%;
  }

  .dashboard-user-stats {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(2.4*var(--delta)) calc(2.4*var(--delta));

    >.stat-item-count {
      margin-right: 0px;
      width: auto;
    }
  }

  .dashboard-plan-stats {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: calc(2.4*var(--delta)) calc(2.4*var(--delta));
  }

  .admin-submenu-content-wrap .menu-wrap {
    margin-inline: auto;
  }

  .admin-submenu-content-wrap {
    display: block;

    >* {
      margin-bottom: calc(2.4*var(--delta));
    }
  }

  .admin-submenu-content-wrap .content-wrap {
    width: 100%;
  }


  .dashboard-sidebar-menu-dropdown {
    display: block;
    margin-bottom: calc(2.4*var(--delta));
    max-width: calc(30*var(--delta));
    margin-inline: auto;
  }

  .dashboard-sidebar-menu {
    display: none;
  }

  .admin-submenu-content-wrap .menu-wrap {
    display: none;
  }


  .my-listing-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }


  .my-listing-content-wrap {
    display: block;

    >* {
      margin-bottom: calc(2.4*var(--delta));

      &.my-listing-sidebar-menu {
        margin-inline: auto;
      }

      &.my-listing-content-wrap-inner {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .my-listing-sidebar-menu {
    display: none;
  }


  .z-weekly-scheduler__content .day-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}


@media(max-width: 767px) {
  body {
    --m-section-margin-bottom: calc(7*var(--delta)); // --fs-20: calc(1.6*var(--delta));
    --fs-21_6: calc(1.8*var(--delta));
    --fs-22_5: calc(1.8*var(--delta));
    --fs-24: calc(1.9*var(--delta));
    --fs-26: calc(2*var(--delta));
    --fs-32: calc(2.2*var(--delta));
    --fs-40: calc(2.5*var(--delta));
    --fs-50: calc(3*var(--delta));
    --fs-60: calc(3.2*var(--delta));
    --fs-64: calc(3.5*var(--delta));
    --fs-80: calc(4.5*var(--delta));
  }

  body {
    * {

      &.home-hero-big-image,
      &.home-directory,
      &.x3-directories-panels,
      &.banner-photo-text-button,
      &.testimonials-panel,
      &.guids-grid,
      &.claim-your-free-page,
      &.plans-and-pricing,
      &.hero-header,
      &.featured-placement,
      &.our-story,
      &.banner-moment,
      &.our-mission-grid {
        margin-bottom: var(--m-section-margin-bottom);
      }

      // margin-bottom: var(--m-section-margin-bottom);
    }


    .heading-title-paragraph {
      margin-bottom: calc(4*var(--delta));
    }
  }

  .home-directory {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  .x3-directories-panels {
    .wrap-white-box {
      padding: calc(2*var(--delta));

      .content-inner {
        .grid-panels {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  .pricing-grid-wrapper {
    .pricing-grid {
      grid-template-columns: 1fr;
    }
  }

  .guids-grid {
    .grid-wrap {
      .grid {
        grid-template-columns: 1fr;
      }
    }
  }

  .banner-photo-text-button .content-holder {
    padding: calc(2*var(--delta));
  }

  .banner-photo-text-button .content-holder .white-wrap {
    padding: calc(2*var(--delta));
  }


  .footer-landing {
    .menu-wrap {
      .menu {
        width: 100% !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: calc(40*var(--delta));

        >li {
          a {
            padding: calc(1*var(--delta)) calc(.5*var(--delta));
            text-align: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .product-panel {
    display: block;

    >.image {
      width: 100%;
    }

    .content-wrap {
      width: 100%;
      margin-left: 0px;

      .categories {
        margin-top: calc(2.4*var(--delta));
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    >* {
      margin-bottom: calc(2.4*var(--delta));
    }
  }

  .banner-photo-text-button .content-holder {
    min-height: 0px;
    padding-block: calc(4*var(--delta));
  }

  .product-services ul {
    grid-template-columns: 1fr 1fr;
  }

  .product-about {
    display: block;

    >* {
      width: 100% !important;
      margin-bottom: calc(4*var(--delta));
    }
  }


  .product-details-gallery {

    .gallery-grid {
      display: block;

      >* {
        width: 100% !important;
        margin-bottom: calc(1.6*var(--delta));

        &.big-image,
        &.image-btn-view-all {
          height: calc(20*var(--delta));
        }

        &.x2-images {
          display: flex !important;
          justify-content: space-between;

          >* {
            margin-bottom: 0px !important;
            width: calc(50% - .5*1.6 * var(--delta));
          }
        }
      }
    }
  }

  .product-title-and-feedback .stars-and-location {
    display: block;

    >* {
      width: 100%;
    }
  }

  .featured-placement .pricing-table {
    padding: calc(2.4*var(--delta));
  }

  .featured-placement .pricing-table-wrap {
    padding: calc(2.4*var(--delta));
  }


  .banner-moment .content-wrap {
    padding: calc(4*var(--delta)) calc(2.4*var(--delta));
  }

  .post-content .post-content-navigation {
    display: none;
  }

  .post-content .featured-illustration {
    width: 100%;
  }

  .form-dashboard .row>* {
    padding-inline: 0px;
    margin-bottom: calc(2.4*var(--delta));
  }

  /*
    Administrator edits: 
  */

  .dashboard-user-stats {
    grid-template-columns: 1fr 1fr;
  }

  .dashboard-plan-stats {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: calc(1.2*var(--delta)) calc(1.2*var(--delta));
  }



  .my-listing-grid {
    grid-template-columns: 1fr 1fr;
  }

  .column-save-listing-buttons {
    display: block;

    >* {
      width: 100%;
      margin-bottom: calc(2.4*var(--delta));
    }
  }



  .z-weekly-scheduler__content .day-item {
    grid-template-columns: 1fr 1fr 1fr;
  }


  .z-team-members .z-team-member-heading-fields {
    flex-wrap: wrap;
  }

  .z-team-members .z-team-member-heading-fields .text-input-wrap {
    width: calc(50% - calc(1.2*var(--delta)));
    margin-top: calc(1.2*var(--delta));
  }



}


@media(max-width: 576px) {
  body {
    // --fs-20: calc(1.6*var(--delta));
    // --fs-21_6: calc(1.8*var(--delta));
    // --fs-22_5: calc(1.8*var(--delta));
    // --fs-24: calc(1.9*var(--delta));
    --fs-26: calc(1.9*var(--delta));
    --fs-32: calc(2*var(--delta));
    --fs-40: calc(2.1*var(--delta));
    --fs-50: calc(2.2*var(--delta));
    --fs-60: calc(2.3*var(--delta));
    --fs-64: calc(2.4*var(--delta));
    --fs-80: calc(3.3*var(--delta));
  }

  .x3-directories-panels .wrap-white-box .content-inner .grid-panels .directory-item {
    height: calc(30*var(--delta));
  }

  .x3-directories-panels .wrap-white-box .content-inner .grid-panels .directory-item .photo-content .the-title {
    display: block;

    .number {
      padding-block: calc(2*var(--delta));
      margin-bottom: calc(1*var(--delta));
    }

    .title {
      width: 100%;
    }
  }

  .footer-banner .contaent-wrap {
    padding-inline: 0px;
    min-height: calc(40*var(--delta));
  }

  .pagination-sorting-header .col {
    display: block;

    >* {
      margin-bottom: calc(1*var(--delta));
    }
  }


  .product-services ul {
    grid-template-columns: 1fr;
  }

  .product-quick-facts .facts-grid {
    grid-template-columns: 1fr;
  }

  .product-reviews .heading-content {
    display: block;

    >* {
      margin-bottom: calc(3*var(--delta));
    }
  }

  .featured-placement .pricing-table-wrap>.data-row {
    display: block;

    >* {
      width: 100%;
    }
  }

  .featured-placement .pricing-table-wrap>.data-row .cell-price {
    font-weight: bold;
    text-align: left;
    width: 100% !important;
  }



  .banner-find-support {
    padding: calc(3*var(--delta)) calc(2.4*var(--delta));
    min-height: calc(40*var(--delta));

    .buttons-wrap .btn {
      width: 100%;
      min-width: 0px;
    }
  }


  .modal.modal-auth .modal-dialog {
    margin-inline: auto;
  }

  .modal.modal-auth .wrap-auth-content .left-content {
    padding: calc(3.5*var(--delta)) calc(2.4*var(--delta));
  }

  .modal.modal-auth .wrap-auth-content .right-content {
    padding-top: calc(6*var(--delta));
  }




  /*
    Administrator edits: 
  */

  .dashboard-user-stats {
    grid-template-columns: 1fr;
  }

  /*.dashboard-plan-stats {
    grid-template-columns: 1fr;
  }*/

  .profile-image-and-cover-change>img.cover {
    height: calc(26*var(--delta));
  }

  .profile-image-and-cover-change .buttons-footer .profile-image-changer-wrap {
    display: block;

    >* {
      margin-bottom: calc(1*var(--delta));
    }
  }

  .profile-image-and-cover-change .buttons-footer {
    display: flex;
    // flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;


    >* {
      margin-bottom: calc(1*var(--delta)) !important;
      width: 100%;
    }

    .btn {
      // width: 100%;
      width: auto;
      width: calc(12*var(--delta));
    }
  }

  .profile-image-and-cover-change .buttons-footer .profile-image-changer-wrap {
    left: 50%;
    position: static;
    // transform: translateX(-50%);
    text-align: center;

    // margin-right: 0px;
    .profile-image-changer {

      margin-right: 0px;
      margin-inline: auto;
    }
  }

  .search-form .btn-for-search {
    display: none;

    &.d-none {
      display: flex !important;
      width: calc(6*var(--delta)) !important;
      height: calc(6*var(--delta)) !important;
    }

  }

  .search-form.btn-text .text-input-wrap {
    width: calc(100% - .8*var(--delta) - calc(6*var(--delta)));
  }


  .rich-text-editor-wrap .rich-text-toolbar {
    flex-wrap: wrap;


  }

  .listing-editor-gallery-images {
    grid-template-columns: 1fr 1fr;
  }



  .z-weekly-scheduler__content .day-item {
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    >* {}
  }

  .z-team-members .z-team-member-heading-fields .text-input-wrap {
    width: 100%;
    // margin-top: calc(1.2*var(--delta));
  }




}