:root {
  --delta: 10px;

  // --heading-font: var(--google-font-lora);

  --color-black: #101010;
  --color-primary-dark-green: #224A22;
  --color-light-gray: #E6E6E6;
  --color-gray: #404040;
  --color-secondary-green: #C7DDB5;
  --color-white: white;

}

@mixin absolute-stretch() {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

@mixin transition($p: all, $d: .3s, $f: ease) {
  -webkit-transition: $p $d $f;
  -moz-transition: $p $d $f;
  -ms-transition: $p $d $f;
  -o-transition: $p $d $f;
  transition: $p $d $f;
}

@mixin scale($s: 1) {
  -moz-transform: scale($s);
  -webkit-transform: scale($s);
  -o-transform: scale($s);
  -ms-transform: scale($s);
  transform: scale($s);
}

@mixin scaleX($s: 1) {
  -moz-transform: scaleX($s);
  -webkit-transform: scaleX($s);
  -o-transform: scaleX($s);
  -ms-transform: scaleX($s);
  transform: scaleX($s);
}

@mixin radius($r: 0) {
  -webkit-border-radius: $r;
  border-radius: $r;
}

@mixin radiusAll($tl: 0px, $tr: 0px, $br: 0px, $bl: 0px) {
  -webkit-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin media-fit($fit: cover, $position: center) {
  object-fit: $fit;
  object-position: $position;
  -o-object-fit: $fit;
  -o-object-position: $position;
}

@mixin translateY($yt: 0) {
  -moz-transform: translateY($yt);
  -webkit-transform: translateY($yt);
  -o-transform: translateY($yt);
  -ms-transform: translateY($yt);
  transform: translateY($yt);
}

@mixin translateX($xt: 0) {
  -moz-transform: translateX($xt);
  -webkit-transform: translateX($xt);
  -o-transform: translateX($xt);
  -ms-transform: translateX($xt);
  transform: translateX($xt);
}

@mixin translateXY($xt: 0, $yt: 0) {
  -moz-transform: translateX($xt) translateY($yt);
  -webkit-transform: translateX($xt) translateY($yt);
  -o-transform: translateX($xt) translateY($yt);
  -ms-transform: translateX($xt) translateY($yt);
  transform: translateX($xt) translateY($yt);
}

@mixin rotate($r: 0deg) {
  -moz-transform: rotate($r);
  -webkit-transform: rotate($r);
  -o-transform: rotate($r);
  -ms-transform: rotate($r);
  transform: rotate($r);
}

@mixin shadow($x: 0px, $y: 0px, $b: 0px, $c: rgba(0, 0, 0, .1)) {
  -webkit-box-shadow: $x $y $b 1px $c !important;
  box-shadow: $x $y $b 1px $c !important;
}

@mixin button-lg() {
  font-weight: bold;
  font-size: calc(1.6*var(--delta));
  font-family: var(--google-font-lato);
}

@mixin link-button() {
  font-weight: bold;
  font-size: calc(1.4*var(--delta));
  font-family: var(--google-font-lato);
  line-height: calc(18.2/14);
}

@mixin heading-md {
  font-size: calc(4*var(--delta));
  line-height: calc(46.6/40);
  letter-spacing: calc(0px - .123*var(--delta));
  font-family: var(--google-font-lora);
  font-weight: 400;
}

@mixin body-sm {
  font-size: calc(1.4*var(--delta));
  line-height: normal;
  letter-spacing: normal;
  font-family: var(--google-font-lato);
  font-weight: 400; // in the design is 500, but the font lato don't support weight medium/500
}

@mixin body-2xl {
  font-size: calc(2.4*var(--delta));
  line-height: calc(36.4/24);
  letter-spacing: calc(0px - .112*var(--delta));
  font-family: var(--google-font-lato);
  font-weight: 400; // in the design is 500, but the font lato don't support weight medium/500
}

@mixin white-arrow {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2718%27%20height%3D%2718%27%20viewBox%3D%270%200%2018%2018%27%20fill%3D%27none%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M0%208.58579L1.51324%2010.099L7.51256%204.11045V17.1716H9.65901V4.11045L15.6476%2010.1098L17.1716%208.58579L8.58579%200L0%208.58579Z%27%20fill%3D%27white%27%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @include rotate(45deg);
}


@mixin logo-link {
  color: var(--color-black);
  text-decoration: none;

  font-family: var(--google-font-lora);
  font-weight: 400;
  font-size: calc(2.6*var(--delta));
  line-height: calc(31/26);
  letter-spacing: calc(0px - 0.115*var(--delta));

  &:hover {
    opacity: .7;
  }
}



body {
  cursor: default;
  background-color: #fbfbf9;
  padding-bottom: calc(5*var(--delta));
}

*>*:last-child {
  margin-bottom: 0px !important;
}



// typography start

.heading-xl {
  font-size: calc(8*var(--delta));
  line-height: calc(91/80);
  letter-spacing: calc(0px - .24*var(--delta));
  font-family: var(--google-font-lora);
  font-weight: 400;
}

.heading-md {
  @include heading-md;
}

.heading-lg {
  font-size: calc(6.4*var(--delta));
  font-family: var(--google-font-lora);
  font-weight: 500;
  line-height: calc(80/64);
  letter-spacing: calc(0px - .48*var(--delta));
}

.heading-xs {
  font-size: calc(2.16*var(--delta));
  line-height: calc(31.2/21.6);
  letter-spacing: calc(0px - .096*var(--delta));
  font-family: var(--google-font-lora);
  font-weight: 400;
}

.body-2xl {

  @include body-2xl;
}

.body-sm {
  @include body-sm;
}

.body-xl {
  font-size: calc(2*var(--delta));
  line-height: calc(26/20);
  letter-spacing: calc(0px - .08*var(--delta));
  font-family: var(--google-font-lato);
  font-weight: 400; // in the design is 500, but the font lato don't support weight medium/500
}


.body-lg {
  font-size: calc(1.6*var(--delta));
  // line-height: calc(26/20);
  // letter-spacing: calc(0px - .08*var(--delta));
  font-family: var(--google-font-lato);
  font-weight: 400; // in the design is 500, but the font lato don't support 
}

.body-md {
  font-size: calc(1.6*var(--delta));
  line-height: calc(23.4/16);
  letter-spacing: calc(0px - .072*var(--delta));
  font-family: var(--google-font-lato);
  font-weight: 400; // in the design is 500, but the font lato don't support weight medium/500
}

.button-lg {
  @include button-lg;
}

.link-button {
  @include link-button;
}


// typography end


// forms start
.text-input-wrap {
  .form-control {

    padding: calc(1.3*var(--delta)) calc(3.2*var(--delta));
    border: solid 1px transparent;
    @include radius(calc(3*var(--delta)));

    @include shadow(0px, calc(.5*var(--delta)), calc(.5*var(--delta)));

    &:focus {
      outline: none;
      // box-shadow: none;
    }

    color: var(--color-black);

    &::placeholder {
      color: var(--color-light-gray);
    }
  }
}

// forms end




// bootstrap
.container,
.row {
  --bs-gutter-x: calc(4*var(--delta));

}

.container {
  max-width: calc(132*var(--delta));
}

.btn {


  --bs-btn-padding-x: calc(1.6*var(--delta));
  --bs-btn-padding-y: calc(1.6*var(--delta));
  // --bs-btn-font-family: ;
  // --bs-btn-font-size: 1rem;
  // --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1;
  // --bs-btn-color: var(--bs-body-color);
  // --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  // --bs-btn-border-color: transparent;
  --bs-btn-border-radius: calc(2.6*var(--delta));
  @include button-lg;


  @include shadow(0px, calc(.3*var(--delta)), 0px, var(--color-secondary-green));

  @include transition(all, .2s);

  &:active {
    @include translateY(calc(.3*var(--delta)));
    box-shadow: none !important;
  }


  &.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color-primary-dark-green);
    --bs-btn-border-color: var(--color-primary-dark-green);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-primary-dark-green);
    --bs-btn-hover-border-color: var(--color-primary-dark-green);
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-primary-dark-green);
    --bs-btn-active-border-color: var(--color-primary-dark-green);
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;

  }

  &.btn-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color-black);
    --bs-btn-border-color: var(--color-black);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px #00000020;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
  }

  &.btn-search {

    width: calc(6*var(--delta));
    height: calc(6*var(--delta));
    @include radius(50%);
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px;

    &:before {
      content: '';
      display: block;

      @include white-arrow;

      width: calc(1.7*var(--delta));
      height: calc(1.7*var(--delta));


    }

  }

}

// bootstrap




section.home-hero-big-image {

  padding-top: calc(2*var(--delta));
  margin-bottom: calc(12*var(--delta));




  .container {
    max-width: calc(140*var(--delta) + var(--bs-gutter-x));
  }

  .relative-container {
    min-height: calc(86*var(--delta));
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    >* {
      position: relative;
    }

    .bg-hero {
      @include absolute-stretch;

      >img {
        display: block;
        @include absolute-stretch;
        @include radius(calc(3.2*var(--delta)));
        // opacity: .4;
      }

      /*&:after {
        content: '';
        display: block;
        @include absolute-stretch;
        background-color: white;
        opacity: .4;
      }*/
    }

    .link-logo {
      display: block;
      position: absolute;
      left: calc(1.5*var(--delta));
      top: calc(1.5*var(--delta));

      >img {
        display: block;
        width: auto;
        height: calc(8.4*var(--delta));
      }

    }

  }


  .content {

    padding-block: calc(10*var(--delta));


    h1 {
      max-width: calc(90.5*var(--delta));
      margin-inline: auto;
      text-align: center;
      margin-bottom: calc(2*var(--delta));

      color: var(--color-black);
    }

    p {
      text-align: center;
      margin-inline: auto;
      max-width: calc(40.5*var(--delta));
      margin-bottom: calc(3.2*var(--delta));

      color: var(--color-black);
    }

    .search-form {
      max-width: calc(44*var(--delta));
      margin-inline: auto;
    }
  }
}


.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text-input-wrap {
    width: calc(100% - .8*var(--delta) - 6*var(--delta));
  }

}


.home-directory {

  margin-bottom: calc(9.6*var(--delta));

  .container {
    max-width: calc(112*var(--delta) + var(--bs-gutter-x));
  }


  .heading {
    h2 {
      text-align: center;
      color: var(--color-black);
      max-width: calc(70*var(--delta));
      margin-bottom: calc(2*var(--delta));
      margin-inline: auto;
    }

    p {
      text-align: center;
      color: var(--color-black);
      max-width: calc(46.5*var(--delta));
      margin-inline: auto;
    }

    margin-bottom: calc(5.6*var(--delta));
  }


  .grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(2.4*var(--delta)) calc(2.4*var(--delta));
    margin-bottom: calc(5.6*var(--delta));

    .grid-item {
      background-color: var(--color-white);
      padding-inline: calc(3.3*var(--delta));
      padding-top: calc(2.3*var(--delta));
      padding-bottom: calc(1.6*var(--delta));

      text-align: center;

      .image {
        margin-bottom: calc(3.2*var(--delta));

        >img {
          display: block;
          width: calc(10.4*var(--delta));
          height: calc(10.4*var(--delta));
          @include media-fit(contain, center);
          margin-inline: auto;
        }
      }

      h4 {
        color: var(--color-black);
        margin-bottom: calc(1.2*var(--delta));
      }

      p {
        color: var(--color-gray);
        margin-bottom: calc(2.4*var(--delta));
      }

    }

  }

  .footer-buttons {
    text-align: center;

    .btn {
      min-width: calc(22.1*var(--delta));
    }
  }


}


.btn-visit-directory {
  @include button-lg;
  color: var(--color-primary-dark-green);
  display: inline-flex;
  align-items: center;

  span {
    display: block;
    margin-right: calc(1*var(--delta));
  }

  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:after {
    content: '';
    display: block;
    width: calc(2.9*var(--delta));
    height: calc(2.9*var(--delta));
    @include radius(50%);
    background-color: var(--color-primary-dark-green);
    @include shadow(0px, calc(.3*var(--delta)), 0px, var(--color-secondary-green));
    @include transition(all, .2s);

    @include white-arrow;
    background-size: calc(1.3*var(--delta)) calc(1.3*var(--delta));

  }

  &:active {
    &:after {
      @include translateY(calc(.3*var(--delta)));
      @include shadow(0px, 0px, 0px, rgba(0, 0, 0, 0));
    }
  }
}



.x3-directories-panels {

  margin-bottom: calc(12*var(--delta));

  .wrap-white-box {
    background-color: white;
    padding-inline: calc(2*var(--delta));
    padding-top: calc(10*var(--delta));
    padding-bottom: calc(9.3*var(--delta));

    .content-inner {
      max-width: calc(104.3*var(--delta));
      margin-inline: auto;

      .heading {
        text-align: center;
        margin-bottom: calc(12*var(--delta));

        h2 {
          margin-bottom: calc(1.9*var(--delta));
          color: var(--color-black);
          max-width: calc(80*var(--delta));
          margin-inline: auto;
        }

        p {
          color: var(--color-black);
          max-width: calc(46.5*var(--delta));
          margin-inline: auto;
        }
      }

      .grid-panels {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: calc(3.1*var(--delta)) calc(3.1*var(--delta));

        .directory-item {
          position: relative;
          height: calc(40.2*var(--delta));

          display: flex;
          align-items: flex-end;
          justify-content: flex-start;

          &:hover,
          &:active {
            .photo-content {
              @include translateY(calc(0px - 4.8*var(--delta) - 1.7*var(--delta)));
            }
          }


          .photo-content {
            @include absolute-stretch;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            @include transition;

            background-color: var(--color-light-gray);

            padding: calc(1*var(--delta));

            @include radius(calc(2*var(--delta)));
            overflow: hidden;

            .the-title {
              width: 100%;
              display: flex;
              align-items: stretch;
              justify-content: space-between;

              >* {
                background-color: rgba(255, 255, 255, .6);
                @include radius(calc(1.6*var(--delta)));
                color: var(--color-black);
                // @include body;
                /* 1. The Blur Effect */
                -webkit-backdrop-filter: blur(var(--delta));
                backdrop-filter: blur(var(--delta));
                /* Required for Safari/iOS support */

                display: flex;
                align-items: center;
                justify-content: center;



                &.number {
                  width: calc(5.6*var(--delta));
                }

                &.title {
                  width: calc(100% - 5.6*var(--delta) - .8*var(--delta));
                  justify-content: center;
                  padding: calc(2.2*var(--delta)) calc(1*var(--delta));
                }
              }
            }


            >* {
              position: relative;
            }

            >.image {
              @include absolute-stretch;

              >img {

                @include absolute-stretch;
                opacity: .5;
              }
            }
          }


          .button-holder {
            text-align: center;
            position: relative;
            width: 100%;

            .btn {
              display: block;
              width: 100%;
              @include shadow(0px, 0px, 0px, rgba(0, 0, 0, 0));

              &:active {
                @include translateY(0);
              }
            }
          }


        }

      }

    }

  }


}


.heading-title-paragraph {
  margin-bottom: calc(5.6*var(--delta));
  width: 100%;

  .heading-content {

    max-width: calc(75.7*var(--delta));
    margin-inline: auto;

    h2,
    p {
      color: var(--color-black);
      text-align: center;
      margin-inline: auto;
    }

    h2 {
      margin-bottom: calc(2*var(--delta));
      margin-inline: auto;
    }

  }
}


.testimonials-panel {
  margin-bottom: calc(12.4*var(--delta));


}






.testimonials-auto-rotate-slider {
  // height: 400px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-bottom: calc(5.6*var(--delta));
}

/* Gradient masks to fade edges */
.testimonials-auto-rotate-slider::before,
.testimonials-auto-rotate-slider::after {
  background: linear-gradient(to right, rgba(248, 250, 252, 1) 0%, rgba(248, 250, 252, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  /* Adjust width of the fade */
  z-index: 2;
  pointer-events: none;
  /* Allows clicking/hovering through the fade */
}

.testimonials-auto-rotate-slider::before {
  left: 0;
  top: 0;
}

.testimonials-auto-rotate-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.testimonials-auto-rotate-slider {

  /* The moving track */
  .slide-track {
    display: flex;
    /* Calculation: 
               Width of one slide (including margin) * Number of total slides (originals + duplicates)
               Example: 350px (width per slide)
               6 slides total (3 original + 3 duplicates)
               width = 350px * 6
            */
    // width: calc(350px * 6);
    --slide-width: calc(55*var(--delta));
    min-width: 100%;
    width: calc(var(--slide-width) * var(--numberOfSlides));
    animation: animation-scroll-testimonials-auto-rotate-slider 30s linear infinite;
    /* Sped up slightly since track is shorter */
    // transform: translateX(0px);

  }

  .slide-track:hover {
    animation-play-state: paused;
  }

  /* Individual Card Style */
  .slide {
    // height: 300px;
    // width: 350px;
    width: var(--slide-width);
    display: flex;
    align-items: center;
    // padding: 20px;
    // perspective: 100px;

    padding-inline: calc(1*var(--delta));

    display: block;

    .heading-test {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-bottom: calc(2.1*var(--delta));

      .profile {
        padding: calc(.8*var(--delta));
        background-color: var(--color-white);

        img {
          display: block;
          @include media-fit(cover, center);
          @include radius(calc(.292*var(--delta)));
        }
      }

      .title {
        background-color: var(--color-black);
        padding: calc(2.1*var(--delta)) calc(1.2*var(--delta));
        background-color: var(--color-white);
        margin-right: calc(.9*var(--delta));
      }

    }

    >p {
      background-color: var(--color-white);
      color: var(--color-gray);
      text-align: center;
      padding: calc(3.2*var(--delta)) calc(2.4*var(--delta));
    }

  }
}

/* The Animation Keyframes */
@keyframes animation-scroll-testimonials-auto-rotate-slider {
  0% {
    transform: translateX(100vw);
    // background-color: red;
  }

  100% {
    /* Move left by the width of the ORIGINAL set (3 slides) */
    transform: translateX(calc(0px - var(--slide-width) * var(--numberOfSlides)));
    // background-color: blue;
  }
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .testimonials-auto-rotate-slider {
    // height: 350px;
  }

  .testimonials-auto-rotate-slider {

    .slide {
      height: 250px;
      width: 280px;
      /* Smaller card width */
    }

    .slide-track {
      /* Recalculate width based on new slide size and 6 total slides */
      width: calc(280px * 6);
    }
  }

  @keyframes animation-scroll-testimonials-auto-rotate-slider {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-280px * 3));
    }
  }
}



.banner-photo-text-button {
  .content-holder {
    max-width: calc(100*var(--delta));
    margin-inline: auto;
    min-height: calc(39.6*var(--delta));
    padding: calc(4.4*var(--delta)) calc(7.7*var(--delta));
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    >* {
      position: relative;
    }

    .background-image {
      @include absolute-stretch;

      >img {
        display: block;
        @include absolute-stretch;
        @include media-fit(cover, center);
        @include radius(calc(2*var(--delta)));
        opacity: .5;
      }
    }

    .white-wrap {
      width: 100%;
      @include radius(calc(1.6*var(--delta)));
      padding: calc(8*var(--delta));
      background-color: rgba(255, 255, 255, .6);
      -webkit-backdrop-filter: blur(var(--delta));
      backdrop-filter: blur(var(--delta));

      .content-wrap {
        text-align: center;

        >h3 {
          color: var(--color-black);
          @include heading-md;
          margin-bottom: calc(2.4*var(--delta));
        }

        >p {
          color: var(--color-black);
          margin-bottom: calc(2.4*var(--delta));
        }

        >.buttons-wrap {
          .btn {
            min-width: calc(21.6*var(--delta));
          }
        }
      }

    }
  }
}


.guids-grid {

  margin-bottom: calc(12.5*var(--delta));

  .container {
    max-width: calc(105.5*var(--delta) + var(--bs-gutter-x));
  }

  .heading-content {
    max-width: calc(100%);

    p {
      max-width: calc(81.5*var(--delta));
    }
  }


  .grid-wrap {
    margin-inline: auto;
    max-width: calc(104.3*var(--delta));
    background-color: var(--color-white);
    @include radius(calc(2*var(--delta)));
    padding: calc(1.2*var(--delta));

    .grid {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      gap: calc(1.2*var(--delta)) calc(1.2*var(--delta));

      .guid-item {
        .image-title-wrap {
          position: relative;
          height: calc(21*var(--delta));
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          padding: calc(1.2*var(--delta));
          margin-bottom: calc(1*var(--delta));

          >.image {
            @include absolute-stretch;

            >img {
              display: block;
              @include absolute-stretch;
              @include media-fit(cover, center);
              @include radius(calc(1.6*var(--delta)));
            }
          }

          >p.title {
            width: 100%;
            color: var(--color-black);
            @include radius(calc(1.6*var(--delta)));
            background-color: rgba(255, 255, 255, .6);
            padding: calc(2.2*var(--delta)) calc(2.5*var(--delta));
            -webkit-backdrop-filter: blur(var(--delta));
            backdrop-filter: blur(var(--delta));
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: calc(8.2*var(--delta));
          }
        }

        .description {
          text-align: center;
          color: var(--color-gray);
          margin-bottom: calc(1*var(--delta));
        }

        .link-wrap {
          text-align: center;
        }
      }

    }

  }
}

.btn-read-more {
  color: var(--color-primary-dark-green);
  @include link-button;
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  &:before {
    content: '→';
    display: inline-block;
    margin-right: calc(.5*var(--delta));
  }


  &:hover {
    text-decoration: underline;
  }
}


.footer-banner {
  margin-bottom: calc(4.8*var(--delta));

  >.container {
    max-width: calc(132.1*var(--delta) + var(--bs-gutter-x));
  }

  .contaent-wrap {
    min-height: calc(50*var(--delta));
    padding: calc(3*var(--delta));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    >* {
      position: relative;
    }

    >.image {
      @include absolute-stretch;

      >img {
        display: block;
        @include absolute-stretch;
        @include media-fit(cover, center);
        opacity: .5;
        @include radius(calc(4*var(--delta)))
      }
    }

    >.inner-content {
      margin-inline: auto;
      width: 100%;
      max-width: calc(64*var(--delta));

      >.heading-title-paragraph {
        // margin-bottom: calc(1.6*var(--delta));

        p {
          @include body-2xl;
        }
      }

      .buttons {
        text-align: center;

        .btn {
          min-width: calc(21.6*var(--delta));
        }
      }

    }
  }

}



.footer-landing {
  .container {
    max-width: calc(132.1*var(--delta) + var(--bs-gutter-x));
  }

  .menu-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-wrap,
    .right-wrap {
      width: 25%;
    }

    .menu {
      width: 50%;
      padding: 0px;
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      >li {
        display: block;

        >a {
          display: block;
          padding-inline: calc(1.6*var(--delta));
          @include body-sm;
          color: var(--color-black);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            opacity: .7;
          }
        }
      }
    }

    .social-icons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        margin-left: calc(1.2*var(--delta));

        a {
          display: block;

          img {
            width: calc(2.3*var(--delta));
            height: calc(2.3*var(--delta));
            @include media-fit(contain, center);
          }

          text-decoration: none;

          &:hover {
            opacity: .7;
          }
        }
      }
    }

    .footer-logo {
      @include logo-link;
    }


  }

  hr {
    border: none;
    background-color: transparent;
    border-top: solid 1px #E5E7EB;
    margin-block: calc(2.2*var(--delta));
    opacity: 1;
  }



  .coypright-wrap {

    // text-align: center;
    p {
      text-align: center;
      color: var(--color-black);
      @include body-sm;
    }

  }

}



/*.line-divider-headeing {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
}*/

header {

  &.listing-cards {

    padding-block: calc(1.5*var(--delta));
    position: relative;
    border-bottom: solid 1px #E6E6E6;
    margin-bottom: calc(3.2*var(--delta));

    .container {
      max-width: calc(132*var(--delta) + var(--bs-gutter-x))
    }

    .header-logo {
      @include logo-link;
    }

    .content-column {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .right-menu {
        display: flex;
        align-items: center;

        ul.menu {
          display: flex;
          align-items: center;
          margin: 0px;
          padding: 0px;
          margin-right: calc(2.4*var(--delta));

          >li {
            display: block;

            a {
              display: block;
              @include link-button;
              color: var(--color-black);
              text-decoration: none;
              padding-inline: calc(1.6*var(--delta));

              &:hover {
                text-decoration: underline;
                opacity: .7;
              }
            }
          }
        }

        .buttons-holder {
          .btn {
            min-width: calc(21.6*var(--delta));
          }
        }

      }

    }
  }
}